@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

:root {
  --primary-clr: rgb(35, 35, 253);
  --secondary-clr: rgb(0, 196, 140);
  --dark-clr: rgb(0, 1, 1);
  --dark-primary-clr: #121212;
  --white: #fff;
  --white-clr: rgb(254, 254, 254);
  --off-white-clr: rgb(185, 238, 223);
  --lead: rgb(88, 88, 88);

  --ff: "Instrument Sans", sans-serif;
  --ff-links: "Assistant", sans-serif;
}

body {
  font-family: var(--ff);
  letter-spacing: 0.06rem;
}

h1 {
  text-align: center;
}

/* Header */

.fixed {
  position: fixed;
  top: 0;
}

.header .top-header {
  width: 100%;
  display: block;
  background-color: var(--primary-clr);
  color: var(--white-clr);
  text-align: center;
  padding: 10px 0;
}

.header p {
  display: block;
  background-color: var(--primary-clr);
  color: var(--white-clr);
  text-align: center;
  padding: 10px 0;
  font-weight: 600;
}

.timer {
  font-weight: 700;
}

.header a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
}

.header img {
  padding: 7.5px;
  width: 240px;
}

/* Hero */
.hero {
  display: block;
  background: linear-gradient(rgba(18, 18, 18, 0.65), rgba(18, 18, 18, 0.65)),
    url(/assets/consulting-patient.webp) center/cover;
  height: 278px;
  padding: 112px 0;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-inner-text h1 {
  margin-bottom: 10px;
}

.hero-inner-text img {
  margin-bottom: 26px;
  max-width: 100%;
  width: 70%;
}

.hero-action {
  align-items: center;
}

.get-now-action .btn {
  margin-bottom: 12px;
}

.get-now-action .lead {
  color: var(--white);
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}

.get-now-action .lead {
  max-width: 100%;
}

.get-now-action li {
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  column-gap: 10px;
}

.get-now-inner-action {
  max-width: 100%;
  margin-block: auto;
  display: grid;
  place-items: center;
}

/* Services */

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.services-top {
  margin: 0 270px 40px;
}

.services-inner {
  padding-block: 30px;
}

.services h1 {
  margin-bottom: 16px;
}

.services-top p,
.services-items p {
  color: rgb(88, 88, 88);
}

.services-items {
  align-items: start;
  gap: 20px;
  padding: 0 24px 30px;
}

article {
  padding: 24px 16px 48px;
  background-color: rgb(218, 233, 253);
  border-radius: 10px;
}

article .img-container {
  margin-bottom: 16px;
  width: 70%;
  margin-inline: auto;
}

article h2 {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
}

article .lead {
  font-size: 14px;
}

.cta {
  width: 100%;
  padding: 30px 0;
  margin: 30px 0;
}

.cta-inner {
  grid-template-columns: minmax(0, auto) minmax(0, auto);
  width: 742px;
  margin-inline: auto;
  gap: 3rem;
  font-size: 32px;
}

.cta-inner .img-container {
  margin: 0;
  height: 180px;
  width: 100%;
}

.cta-inner h2 {
  color: #000101;
  font-size: 32px;
}

.cta-inner .lead {
  font-size: 18px;
  color: #020303;
  font-weight: 500;
}

.footer,
.spacer {
  padding: 36px 0;
}

.footer-content {
  padding: 0 50px 50px;
  font-family: var(--ff-links);
}

.links > *:not(:last-child) {
  margin-bottom: 16px;
}

.links a {
  font-size: 14px;
  text-decoration: none;
  color: #121212bf;
}

.links a:hover {
  text-decoration: underline;
  color: rgb(var(--color-foreground));
  text-underline-offset: 0.3rem;
}

.links p {
  color: #121212bf;
}

.link-title {
  margin-bottom: 20px !important;
  color: var(--dark-primary-clr);
  font-weight: 400;
  font-size: 18px;
}

.copyright {
  font-weight: 400;
  font-size: 11px;
  font-family: var(--ff-links);
  color: #121212bf;
  margin-top: 15px;
}

img {
  max-width: 100%;
}

h1,
h2 {
  color: var(--white-clr);
}

h1 {
  font-size: 50px;
  text-align: center;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  margin-bottom: 16px;
}

/* Component */

.card-sm {
  padding: 24px 16px 0;
}

.card-m {
  padding: 0px 24px 28px;
}

.card-sm-2 {
  padding: 24px 16px 32px;
  border-radius: 8px;
}

/* Helper class */

.dark {
  color: var(--dark-clr);
}

.primary {
  color: var(--primary-clr);
}

.accent {
  color: #585858;
}

.accent-primary {
  color: #626262;
}

.accent-secondary {
  color: #00c48c;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-items-center {
  justify-items: center;
}

.justify-around {
  justify-content: space-evenly;
}

.items-start {
  align-items: start;
}

.items-center {
  align-items: center;
}

.center {
  text-align: center;
}

.gap-32 {
  gap: 32px;
}

.gap-20 {
  gap: 20px;
}

.gap-16 {
  gap: 16px;
}

.gap-10 {
  gap: 10px;
}

.gap-8 {
  gap: 8px;
}

.bt {
  border-top: 0.1rem solid rgba(18, 18, 18, 0.08);
}

.lh-43 {
  line-height: 43.2px;
}

.tracking-tighter {
  letter-spacing: 0.6px;
}

.fw-700 {
  font-weight: 700;
}

.fw-600 {
  font-weight: 600;
}

.fs-70 {
  font-size: 70px;
}

.fs-32 {
  font-size: 32px;
}

.fs-30 {
  font-size: 30px;
}

.fs-24 {
  font-size: 24px;
}

.fs-22 {
  font-size: 22px;
}

.fs-11 {
  font-size: 11px;
}

.w-100 {
  width: 100%;
}

.w-80 {
  width: 80%;
}

.w-75 {
  max-width: 75%;
  margin-inline: auto;
}

.w-65 {
  width: 65%;
}

.w-50 {
  width: 50%;
  margin-inline: auto;
}

.w-full > * {
  width: 100%;
}

.space-37 > *:not(:last-child) {
  margin-bottom: 37px;
}

.mt-32 {
  margin-top: 32px;
}

.mb-37 {
  margin-bottom: 37px;
}

.mb-32 {
  margin-bottom: 32px !important;
}

.mb-28 {
  margin-bottom: 28px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-22 {
  margin-bottom: 22px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-0 {
  margin-bottom: 0;
}

.my-30 {
  margin: 30px 0;
}

.px-50 {
  padding-left: 50px;
  padding-right: 50px;
}

.pb-32 {
  padding-bottom: 32px;
}

.pt-30 {
  padding-top: 30px;
}

.py-30 {
  padding-bottom: 30px;
  padding-top: 30px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: inherit;
  font-size: 18px;
  padding: 14px 20px;
  background-color: var(--primary-clr);
  color: rgb(229, 231, 235);
  outline: none;
  border: none;
  font-weight: 600;
  height: 60px;
  border-radius: 12px;
  width: 350px;
}

.btn .arrow-icon {
  width: 18px;
  height: 18px;
}

.btn .arrow-icon {
  margin-left: 10px;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: minmax(0, auto) minmax(0, 1fr);
}

.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-cols-6 {
  grid-template-columns: minmax(0, 6fr) minmax(0, 6fr);
}

.stack {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.stack-horizontal {
  flex-direction: row;
}

.flex-1 > * {
  flex: 1;
}

.max-width {
  max-width: 100%;
  width: 1200px;
  margin: 0 auto;
}

.max-width-mobile {
  max-width: 100%;
  width: 630px;
  margin-inline: auto;
}

.max-width-mobile-sm {
  max-width: 100%;
  width: 530px;
  margin: 0 auto;
}

.max-width-mobile-xs {
  width: 400px;
  margin: 0 auto;
}

.lead-lg {
  font-size: 18px;
}

/* TEST */
.test {
  background-color: red;
}
